/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blocktext-align: center
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Resetting Defaults*/

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

/*clearfix*/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}

/*Custom Styles*/

.container {
	width: 960px;
	margin: 0 auto;
}

/*Links*/

a {
	color: #000000;
	text-decoration: none;
	border-bottom: 1px dotted #a50021;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #a50021;
}


/*header*/

header {
	background: #a50021;
	color: #ffffff;
	font-family: century, garamond, georgia, serif;
	font-size: 90px;
	font-variant: small-caps;	
	letter-spacing: 4px;
	text-shadow: 2px 4px 3px #000000;
	padding: 40px 0 40px 0; 
	text-align: center;
	
}

/*Logo and Button*/
	
.logo {
	color: #767676;
	/*clear: both;*/
	/*float: left;*/
	font-family: century, garamond, georgia, serif;
	font-size: 21px;
	font-variant: small-caps;
	margin-bottom: 20px;
	/*margin: 50px auto 0 auto;*/
	/*position: fixed;*/ 
	/*width: 230px;*/
}

.button {
	/*line-height: 450px;*/
	background-color: #a50021;
	border-bottom: none;
	   -moz-border-radius: 20px;
		 -o-border-radius: 20px;
	-webkit-border-radius: 20px;
			border-radius: 20px;
	box-shadow: 2px 4px 4px #767676;
	color: #ffffff !important;
	display:block;
	font-family: century, garamond, georgia, serif;
	font-size: 19px;
	font-variant: small-caps;
	margin: 22px auto 0 0;
	padding: 5px;
	/*position: fixed;
	margin: 0 auto;*/
	text-align: center;
	width: 160px;
}

.button:hover {
	background: #155f83;
}


/*Nav*/

/*.navbox > * {
	text-align: center;
}*/

nav {
	color: #d6d6ce;
	/*float: left;*/
	font-size: 14px;
	font-family: verdana, arial, sans-serif;
	letter-spacing: 1px;
	width: 190px;
}

nav li {
	float: left;
	line-height: 18px;
	list-style: none;
	margin-left: 5px;
}

.navbox {
	margin-top: 50px;
	position: fixed;
	text-align: left;
	width: 230px;
}


.navbox nav a {
	border-bottom: none;
	color: #d6d6ce;
}

	.navbox nav a:visited {
		color: #d6d6ce;
	}

	.navbox nav a:hover {
		color: #a50021;
	}

	
/*Columns*/

.columns{

}

	.columnleft {
		float: left;
		width: 365px;
	}

	.columnright {
		float: left;
		width: 365px;
	}

/*Body*/


body {
	background: #ffffff;
	background-image: url(img/paper.png);
	color: #000000;
	font-family: times, garamond, georgia, serif;
	font-size: 23px; 
	padding-bottom: 100px;
}

p {
	font-size: 28px;	
	line-height: 38px;
	margin-bottom: 20px;
	margin-top: 10px;
}

section {
	color: #767676;
	clear: left;
	float: left;
	font-size: 42px;
	font-family: verdana, arial, sans-serif;
	margin: 50px 0 10px 230px;
}

	.sectiondivider {
		color: #d6d6ce;
		font-family: verdana, sans-serif;
		font-size: 30px;
		letter-spacing: 20px;
		margin: 50px 0 0 0;
		text-align: center;
	}

article {
	float: left;
	margin-left: 230px;
	width: 730px;
}

h1 a {
	border-bottom: none;
	color: #767676
	}

	h1 a:visited {
		color:#767676;
	}

	h1 a:hover {
		color:#a50021;
	}

h2 {
	line-height: 60px;
}

/*Quotes and Cites*/

blockquote.inset {
	background: #d6d6ce;
		font-family: courier, garamond, georgia, serif;
		font-size: 30px;
	margin-bottom: 35px;
/*	padding-bottom: 60px;*/
		padding: 50px 50px 0 50px;
		text-align: center;

}

	blockquote.inset cite {
		color: #a50021;
		float: right;
		font-size: 22px;
		margin: 15px 35px 25px 0;
	}

q {
/*	padding-bottom: 45px; */
}

cite {
	font-style: italic;
}


/*images*/

.image {
	text-align: center;
}

	.image img {
		border: solid 2px #000000;
		margin-top: 20px;
	}

	.image a {
		border-bottom: none;
	}

.imagebox a {
	border-bottom: none;
}

.imagebox img {
	height: 90px;
}


p iframe {
	text-align: center;
}

.columnleft img {
	border: solid 2px #000000;
	margin-top: 10px;
	width: 345px;
}

.columnright img {
	border: solid 2px #000000;
	margin-top: 10px;
}

.treaty img {
	float: left;
	margin: 40px 0;
	width: 730px;
}

.caption {
	font-size: 16px;
	font-style: italic;
	line-height: 1;
}

/*Lists*/

ul {
	margin-bottom: 20px;
	line-height: 36px;
	list-style: disc;
}

article ul {
	padding-left: 50px;
}

/*Footer*/

footer {
   border-top: solid 1px #a50021;
   font-family: verdana, arial, sans-serif;
   font-family: verdana, arial, sans-serif;
   font-size: 14px;
   margin-left: 230px;
  }

  footer ul {
  	color: #d6d6ce;
  	float: right;
  	list-style: none;
  }

  footer li {
  	display: inline;
  	margin: 5px;
  }

  footer a {
  	border-bottom: none;
  	color: #767676;
   	text-decoration: none;
  }

  	footer a:visited {
		color: #767676;
		}

	footer a:hover {
		color: #a50021;
		}

  footer p {
  	color: #d6d6ce;
  	clear: right;
  	float: right;
  	font-family: 'Diplomata SC', courier, serif;
  	font-size: 22px;
  }

  	footer p a {
  		color: #d6d6ce;
  	}

  	footer p a:visited {
		color: #d6d6ce;
	}

		footer p a:hover {
		color: #000000;
	}








