/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blocktext-align: center
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Resetting Defaults*/

b, strong {
  font-weight: bold;
}
i, em {
  font-style: italic;
}

/*grid*/

.container {
	width: 960px;
	margin: 0 auto;
}

/*clearfix*/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}

/*Custom Styles*/

body {
	background: #ffffff;
	color: #000000;
	font-family: garamond, times, serif;
	font-size: 23px; 
	padding-bottom: 60px;
}

/*Home Page*/

#home {
		background: #a50021;
		color: #ffffff;
	
	}

	.homeheader {
		color: #ffffff;
		font-family: century, georgia, serif;
		font-size: 50px;
		font-variant: small-caps;
		text-align: center;
	}

	.homefooter {
		color: #ffffff;
		font-family: century, georgia, serif;
		font-variant: small-caps;
		font-size: 40px;
		margin-top: 50px;
		text-align: center;
	}

	.homefooter a:visited {
		color: #ffffff;
	}

.centeredsquare {
	color: #ffffff;
	font-family: verdana, arial, sans-serif; 
	font-size: 35px;
	line-height: 45px;
	letter-spacing: 08px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	}


/*header*/

header {
	border-bottom: solid 1px #a50021;
	color: #000000;
	margin: 50px 0;
}

/*Interior Header*/

.primary-logo {
		clear: both;
		float: left;
		font-family: century, georgia, serif;
		font-size: 40px;
		font-variant: small-caps;
		padding: 5px;
	}

.action {
	clear: right;
	float: right;
	font-family: "lucida sans unicode", verdana, sans-serif;
	font-size: 19px;
	font-variant: small-caps;
	padding: 5px;
	text-transform: uppercase;
}	

		.primary-logo a:hover {
			color: #a50021;
		}

		.action a:hover {
		color: #a50021;
		}

/*Content*/

article {
	background: #ffffff;
}

p {
	font-size: 23px;
	padding-bottom: 30px;
}

/*typography*/

q {
	font-size: 34px;
}

/*links*/

a:link {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #a50021;
	text-decoration: none;
}

a:visited {
	color: #000000;
}

/*styles*/

.bignumber {
	color: #d6d6ce;
	font-size: 32px;
	font-family: verdana, arial, sans-serif;
	font-weight: bold;
	margin-left: 130px;
	margin-bottom: 40px;
}

.columnleft {
	background: #ffffff;
	clear: left;
	color: #d6d6ce;
	float: left;
	margin-top: 30px;
	width: 130px;
	}

.columncenter {
	background: #ffffff;
	width: 700px;
	float: left;
}

.columnright {
	background: #ffffff;
	color: #d6d6ce;
	float: right;
	margin-top: 30px;
	text-align: right;
	width: 130px;
}

/*Footer*/

footer {
	border-top: solid 1px #a50021;
	color: #d6d6ce;
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
	padding: 5px;
}

ul {
	float: right;
	list-style: none;
}

ol, ul {
	list-style: none;
}


